body{
    background-image: url(Canser.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    margin: 10px;
    border: solid 1px;
    border-radius: 5px;
    background-color: rgb(201, 132, 132);
    color: black;
    text-decoration: none;
}
#Can{
    border: solid 1px;
}
legend{
    border: solid 1px;
    border-radius: 5px;
    background-color: lightsalmon;
}
